/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


#chat-wrap {
  height: 80%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
/*#chat-wrap {
    height: 100%;
    width: 100%;
}*/
#nav {
  position: fixed;
  z-index: 999;
  width: auto;
  height: 40px;
  top: 20px;
  left: 20px;
  right: 20px;
  background: #333; 
  opacity: 0.7;
  filter: alpha(opacity=70);
    color: #fff;
    text-align: center;
}


/* FOOTER */
#footer-wrap {
  position: fixed;
  z-index: 999;
  width: 70%;
  height: 50px;
  bottom: 40px;
  left: 20%;
}

#footer {
  /*width: 400px;*/
  height: 50px;
  /*margin: 0 auto;*/
  
}

#shell {
    top: 1px;
    position: absolute;
    left:0; 
    right: 0;
    bottom: 90px;
    width: 75%;
    max-width: 100%;
    /*margin: auto;*/
    overflow-y: scroll;
    box-sizing: border-box;
}
