<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">Erlychat</span>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Users Online</a></li>
            {% for user in users_online %}
              <li><a href="#">{{ user.username }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Chat</h1>

          <div id="chat-wrap">

            <div id="shell">
                {% for message in messages %}
                    <p>{{ message.user.username }}[{{ message.created_at }}]: {{ message.body }}</p>
                {% endfor %}
            </div>

            <div id="footer-wrap">
              <div id="footer">
                <form action="/chat/submit_message/" id="submit_form" method="POST"> 
                  <div class="row">
                    <div class="col-xs-8 col-md-6">
                      <div class="input-group">
                           <input type="text" class="form-control" name="message"/>
                           <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span>
                            </button>
                           </div>
                       </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $("#submit_form").submit(function(e) {
            e.preventDefault();
            var $form = $(this);
            var $message = $form.find('input[name="message"]');
            var message = $form.find('input[name="message"]').val();
            $.post(
                $form.attr('action'),
                {"message": $message.val()}
            ).done(
                function(data) {
                    console.log(data);
                    $message.val("");
                }
            );
        })
    </script>
    <script type="text/javascript">
        function scroll() {
          $('#shell').animate({ scrollTop: $('#shell').height() }, "slow");
        };
        function write_msg(msg){
          $("#shell").append("<p>" + msg + "</p>");
        };
        $(function() {
            scroll();

            var ws_addr = "ws://"+window.location.host+"/ws/";
            var socket = new WebSocket(ws_addr);
            
            socket.onopen = function() {
              console.log("Соединение установлено.");
            };

            socket.onclose = function(event) {
              if (event.wasClean) {
                write_msg('Соединение закрыто чисто');
              } else {
                write_msg('Обрыв соединения'); // например, "убит" процесс сервера
              }
              write_msg('Код: ' + event.code + ' причина: ' + event.reason);
            };

            socket.onmessage = function(event) {
              msg = JSON.parse(event.data);
              write_msg(msg.user+"[" + msg.created_at + "]: " + msg.body);
              scroll();
            };

            socket.onerror = function(error) {
              write_msg("Ошибка " + error.message);
            };

          
        });

    </script>
  </body>
</html>